<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <div class="container-fluid">
  <img src="/public/icons/planet.png" class="planet" alt="planet">
  <%- include('partials/navbar') %>
    <div class="body-container">
      <div class="body-description mb-5">
        <h1 id="intro" class="display-4 mb-5"></h1>
        <p>I'm a Web developer,</p>
        <p>and I make awesome apps!</p>
        <p>I'm currently based in Manila, Philippines.</p>
        <a href="/about">More about me!</a>
      </div>
      <div class="border-line"></div>
      <img id="rocket" class="rocket" src="/public/icons/rocket.png" alt="planets" height="200">
      <div class="icon-list">
        <a href="https://www.linkedin.com/in/shinji-yumikura-682097163/" target="_blank"><img src="/public/icons/linkedin.svg" class="icon" alt="linkedin"></a>
        <a href="https://github.com/jinzai07" target="_blank"><img src="/public/icons/github.svg" class="icon" alt="github"></a>
        <a href="https://www.instagram.com/planetaryshinji/" target="_blank"><img src="/public/icons/instagram.svg" class="icon" alt="instagram"></a>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
<script src="/public/js/main.js"></script>

</html>