.form-body {
  margin-top: 100px;
  width: 80%;
}

.body-container {
  align-items: center;
}

.btn-primary {
  background-color: var(--info);
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 3rem;
}

.form-control:focus {
  border-color: var(--info);
}
