.form-body {
  margin-top: 100px;
  width: 50%;
}

.body-container {
  align-items: center;
}

.btn-primary {
  background-color: var(--info);
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 3rem;
}

.btn-primary:hover {
  background-color: var(--secondary);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--secondary);
}

.form-control:focus {
  border-color: var(--info);
}

.alert {
  background-color: var(--info);
  color: var(--white);
}

@media (max-width: 576px) {
  .form-body {
    width: 80%;
  }
}