#footer {
  width: 100%;
  background-color: var(--secondary);
  box-shadow: 0px -5px 15px 0px #1f0f1e;
  min-height: 6em;
}

.blockquote {
  padding: 5px;
  margin-bottom: 0;
  font-size: 1rem;
}

.blockquote-footer {
  padding-bottom: 5px;
}

.blockquote-footer a {
  color: var(--info);
}

.credits {
  font-size: .8rem;
  text-align: center;
}

.quote {
  max-height: 5rem;
  overflow: auto;
}