* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
}

button:focus {
  outline: none;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}