* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.container-fluid {
  padding: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.body-container {
  width: 100%;
  background-color: #3f253e;
  position: fixed;
  bottom: 0;
  height: 95%;
  color: #fff;
  display: flex;
}

.body-description {
  margin-top: 100px;
  padding: 50px;
}

.body-image {
  border: 1px solid red;
}

.rocket {
  display: none;
}



@media (max-width: 576px) {
  .body-description {
    padding: 15px;
  }

  .body-container {
    flex-direction: column;
  }

  .rocket {
    display: block;
    position: absolute;
    right: 35px;
    bottom: 0px;
    transition: transform 1s ease;
  }

  .rocket:hover {
    transform: translateY(-100vh);
  }
}