* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.container-fluid {
  padding: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.body-container {
  width: 100%;
  background-color: #3f253e;
  position: fixed;
  bottom: 0;
  height: 95%;
  color: #fff;
}

.body-description {
  margin-top: 100px;
  padding: 50px;
}

@media (max-width: 576px) {
  .body-description {
    padding: 15px;
  }
}