<link rel="stylesheet" href="/public/css/footer.css">

<footer id="footer">
  <blockquote class="blockquote text-right">
    <p class="mb-0"><%= quoteResponse.quote %></p>
    <footer class="blockquote-footer"><%= quoteResponse.author %> </footer>
  </blockquote>

</footer>