<link rel="stylesheet" href="/public/css/navbar.css">

<nav id="navigation">
    <div class="nav-logo">
        <a href="/">
            <img id="brand-logo" src="/public/icons/logo.png" alt="my-logo">
        </a>
    </div>
    <div class="nav-navigation">
        <ul class="nav-links">
            <% navLinks.forEach(nav => { %>
                <a href="<%= nav.link %> " class="nav-item"><%= nav.title %> </a>
            <% }) %>
        </ul>

        <div type="button" class="nav-button-trigger">
            <img src="/public/icons/hamburger-menu.svg" alt="hamburger" height="35px">
        </div>
    </div>
</nav>

<script src="/public/js/navbar.js"></script>